.remove {
  margin: 100px auto 16px auto;
  width: 50vw;
}

.remove form {
  padding: 0;
}

mat-selection-list {
  width: 50vw;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

form {
  padding: 16px;
}

mat-selection-list button {
  margin: auto;
  display: block;
}

.empty {
  margin: 150px auto;
  width: max-content;
}

@media only screen and (max-width: 700px) {
  mat-selection-list {
    width: 75vw;
  }

  .remove {
    width: 75vw;
  }
}

@media only screen and (max-width: 300px) {
  mat-selection-list {
    width: 90vw;
  }

  .remove {
    width: 90vw;
  }
}
